*{
	color:white;
	font-family:Georgia, Serif;
}
p{
	font-size:20px;
}
li{
	font-size:20px;
}
.contSec{
	display:inline;
	position:relative;
}
body{
	background-color:black;
	background-image:url("background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	display:inline;
	position:relative;
	padding-bottom:20px;
	padding-top:20px;
	padding-left:0px;
	padding-right:0px;
}
#navbarColor{
	background-color:darkgrey;
	background-image:url("carbonFiber.jpg");
	background-repeat:no-repeat;
	background-size:contain;
}
.rowSec{
	position:relative;
	background-repeat:no-repeat;
	background-color:rgba(0,0,150,.3);	
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
}

