*{
	color:white;
	font-family:Georgia, Serif;
}
p{
	font-size:20px;
}
li{
	font-size:20px;
}
body{
	display:inline;
	background-color:black;
	background-image:url("background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding-top:20px;
	margin-bottom:0px;
}
footer{
	position:relative;
	padding:1em;
	vertical-align:bottom;
	text-align: center;
	font-size:16px;
	font-family: verdana ;
    height: 50px ;
    background-image:url("carbonFiber.jpg");
	background-color:darkgrey;
	width:100%;
}
.container{

}
.contSec{
	display:inline;
	position:relative;
}
nav{
	background-image:url("carbonFiber.jpg");
	background-color:darkgrey;
}
.row{
	width:100%;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;

}
.rowSec{
	background-color:rgba(0,0,150,.7);	
}
.circle{
	width:300px;
	height:300px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}
.img-responsive{
	border-radius:25px;
}