body{
	position:relative;
	display:inline;
	background-color:black;
	background-image:url("https://rusjafoster.files.wordpress.com/2013/02/img_0796.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	margin:0px 0px 0px 0px;
}
nav{
	opacity:.9;
}
footer{
	display:block;
	opacity:.9;
	position:relative;
	padding:1em;
	vertical-align:bottom;
	text-align: center;
	font-size:16px;
	font-family: verdana ;
	color:white;
    height: 50px ;
	background-color:black;
	width:100%;
	margin:0px 0px 0px 0px;
	}
*{
	text-shadow:2px 2px 40px #000000;
	color:white;
	font-family:Georgia, Serif;
}
h1{
	font-size:50px;
	text-shadow:5px 5px 5px #000000;
}
h2{
	font-size:38px;
	text-shadow:5px 5px 20px #000000;
}
p{
	font-size:20px;
}
li{
	font-size:20px;
}
ol{
	text-align:left;
}
.contSec{
	position:relative;
	display:inline;
	width:80%;
}
.row{
	width:80%;
	padding:5px 10px 20px 10px;
	margin-top:10px;
	margin-bottom:10px;
}
.rowSec{
	border-radius:15px;
	background-color:rgba(25,50,150,.6);	
}
.img-responsive{
	border-radius:25px;
	box-shadow: 5px 7px 10px #000000;
}
.npButton{
	float:center;
	direction:ltr;
	opacity:.9;
}